.category-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  height: 25px;

  &-description {
    display: flex;
  }

  &-checkbox {
    margin-right: 0.5rem;
  }

  &-controls {
    display: none;

    &-edit,
    &-delete {
      cursor: pointer;
      margin-left: 1rem;
    }
  }

  &:hover {
    .category-list-item-controls {
      display: block;
    }
  }
}
