@import "../../styles/variables";

.signin {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);

  opacity: 0;
  animation: fadeIn 0.1s 0.1s ease-in forwards;

  &-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &-container {
    margin: auto;
    margin-top: 20vh;
    height: 400px;
    width: 25%;
    padding: 2rem 4rem;
    border-radius: 8px;

    color: #0e0e0e;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    input {
      margin-bottom: 1rem;
    }

    button {
      margin: 0 auto;
    }
  }

  &-signup {
    font-size: 1.4rem;
    text-align: center;

    a {
      font-weight: 600;
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
