.dropdown {
  border: 1px black solid;
  border-radius: 12px;
  box-sizing: content-box;

  padding: 5px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
  }

  &-caret {
    font-size: 25px;
    display: flex;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
}
