.icon {
  display: inline-block;

  &.green {
    svg {
      path {
        fill: #1dd43c;
      }
    }
  }

  &.orange {
    svg {
      path {
        fill: #f48b00;
      }
    }
  }

  &.grey {
    svg {
      path {
        fill: #747474;

        &:hover {
          fill: darken(#747474, 15%);
        }
      }
    }
  }
}
