.add-item {
  &-title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  form {
    display: flex;
    align-items: center;
  }

  &-input {
    flex-grow: 1;
  }

  &-dropdown,
  &-button {
    margin-left: 1rem;
  }
}
