@import "../../styles/variables";

.button {
  font-size: 1.6rem;
  width: 130px;
  padding: 8px 16px;
  color: $black;
  background-color: transparent;
  border: 2px solid #c0c0c0;
  border-radius: 40px;
  box-shadow: 0 1px 2px 0 rgba(130, 65, 243, 0.42);

  &-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.disabled {
    background-color: #c0c0c0 !important;
  }

  &.no-border {
    border: none;
  }

  &.green {
    background-color: $green;
    color: #ffffff;
    border-color: #ffffff;

    &:hover,
    &:focus {
      background-color: lighten($green, 5%);
    }

    &:active {
      background-color: darken($green, 5%);
    }
  }

  &.orange {
    background-color: $orange;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: lighten($orange, 5%);
    }

    &:active {
      background-color: darken($orange, 5%);
    }
  }
}
