.dashboard {
  padding: 4rem 0;

  &-dropdown {
    display: flex;
    justify-content: flex-end;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
  }

  &-single-list {
    width: 75%;
    margin: 0 auto;
  }
}
