.meal-plan {
  padding: 4rem 0;

  &-header {
    margin-bottom: 2rem;

    display: flex;
    align-items: center;

    &-title {
      margin-left: 1rem;
    }
  }

  &-calendar {
    position: relative;
  }

  &-add-button {
    position: absolute;
    bottom: -20px;
    right: -15px;

    svg {
      border-radius: 50%;
      box-shadow: 0 10px 20px 0 rgba(55, 58, 75, 0.35);
      height: 40px;
      width: 40px;
    }
  }

  &-modal {
    width: 40%;

    &-controls {
      position: absolute;
      top: 1rem;
      right: 1rem;

      button {
        margin-left: 1rem;
      }
    }
  }
}

.selected-meal {
  &-name {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &-date,
  &-type {
    margin-bottom: 1rem;
  }

  .title {
    font-weight: 600;
  }
}

.add-meal,
.edit-meal {
  &-title {
    margin-bottom: 1rem;
  }

  &-form {
    &-radio-container {
      margin: 2rem 0;

      display: flex;
      align-items: center;
    }

    &-flex-container {
      display: flex;
      align-items: center;
    }

    &-radio-input {
      margin-right: 1rem;
    }

    &-date-input {
      border: 2px solid #c0c0c0;
      border-radius: 8px;
      padding: 5px;
      margin-right: 2rem;

      &::-webkit-clear-button,
      &::-webkit-inner-spin-button,
      ::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
      }
    }

    &-submit {
      margin-top: 1rem;
    }
  }
}

.edit-meal-form-submit {
  margin-right: 1rem;
}
