@import "../../styles/variables";

.category-list {
  padding: 4rem 0;

  &-header {
    align-items: center;
    display: flex;
    height: 3rem;
  }

  &-icon {
    margin-right: 1rem;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &-title,
  &-form {
    flex-grow: 1;
  }

  &-form {
    align-items: center;
    display: flex;

    &-input {
      flex-grow: 1;
    }

    &-button {
      box-shadow: none;
      margin-left: 1rem;
      padding: 0;
      width: auto;

      // todo: look into disabled button background-color;
      &.disabled {
        background: none !important;
        svg {
          path {
            fill: #c0c0c0;
          }
        }
      }
    }
  }

  &-control-icon {
    cursor: pointer;
    margin-left: 1rem;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &-item-empty {
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
  }
}

@media only screen and (max-width: 950px) {
  .category-list {
    padding: 1.5rem 0;

    &-title {
      font-size: 1.5rem;
    }
  }
}
