@import "../../styles/variables";

.category-list {
  padding: 5rem 0;

  &-header {
    height: 3rem;
    display: flex;
    align-items: center;
  }

  &-icon {
    margin-right: 1rem;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &-title,
  &-form {
    flex-grow: 1;
  }

  &-form {
    display: flex;
    align-items: center;

    &-input {
      flex-grow: 1;
    }

    &-button {
      width: auto;
      box-shadow: none;
      padding: 0;
      margin-left: 1rem;

      // todo: look into disabled button background-color;
      &.disabled {
        cursor: not-allowed;
        background: none !important;
      }
    }
  }

  &-control-icon {
    margin-left: 1rem;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &-item-empty {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
  }
}
