@import "../../../styles/variables";

.signin {
  animation: fadeIn 0.1s 0.1s ease-in forwards;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  &-title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &-container {
    color: #0e0e0e;
    background-color: #ffffff;
    border-radius: 8px;
    height: 400px;
    margin: auto;
    margin-top: 20vh;
    padding: 2rem 4rem;
    position: relative;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    outline: none;
    width: 100%;

    input {
      margin-bottom: 1rem;
    }

    button {
      margin: 0 auto;
    }
  }

  &-error {
    color: #ff0000;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
  }

  &-signup {
    font-size: 1.4rem;
    text-align: center;

    a {
      color: $green;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 500px) {
  .signin-container {
    width: 350px;
  }
}

@media only screen and (max-width: 375px) {
  .signin-container {
    width: 325px;
  }
}
