.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  &-spinner {
    max-width: 90px;
    animation: spin 2s linear infinite;

    svg {
      width: 100%;
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
